
ExtractionGame/Content/Megascans/3D_Assets/Sandstone_Rocky_Ground_wi3mcjtab/T_SandstoneRockyGround_wi3mcjtab_8K_DpR.uasset
ExtractionGame/Content/Megascans/3D_Assets/Sandstone_Rocky_Ground_wi3mcjtab/T_Sandstone_Rocky_Ground_wi3mcjtab_8K_N.uasset
ExtractionGame/Content/Megascans/3D_Assets/Sandstone_Rocky_Ground_wi3mcjtab/T_Sandstone_Rocky_Ground_wi3mcjtab_8K_D.uasset
ExtractionGame/Content/Megascans/3D_Assets/Sandstone_Rocky_Ground_wi3mcjtab/S_Sandstone_Rocky_Ground_wi3mcjtab_high_Var1.uasset
ExtractionGame/Content/Megascans/3D_Assets/Sandstone_Rocky_Ground_wi3mcjtab/MI_Sandstone_Rocky_Ground_wi3mcjtab_8K.uasset
